<h1 class="text-3xl"> Tarifas</h1>
<hr class="my-2">

<section>
<p class="mb-4">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at pretium elit. Pellentesque facilisis fermentum lacus, a auctor nunc ornare id.
  Morbi ultrices facilisis mattis. Duis id erat a tellus ullamcorper sollicitudin. Nunc vulputate lorem at elementum mollis. Duis ullamcorper rhoncus
  libero quis viverra. Vivamus a velit tortor. Ut scelerisque tincidunt dapibus. Etiam maximus, nulla sed elementum posuere, tellus nibh rutrum dolor,
  sit amet rhoncus urna neque non turpis. Suspendisse potenti. Integer faucibus elementum urna, in imperdiet libero elementum et. Donec scelerisque enim
  non enim luctus viverra. Sed vehicula hendrerit urna, sit amet finibus lectus cursus nec.


</p>

</section>

